.main {
  display: flex;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-wrap: wrap;

}

.card {
  width: 400px;
  justify-content: space-around;
  box-shadow: 5px 5px 55px -14px black;
  border-radius: 4px;
  padding: 15px;
  margin: 15px;

  &-image {
    height: 100%;
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
  }
}

.button {
  display: flex;
  justify-content: center;

  &-btn {

    color: white;
    padding: 10px;
    margin: 10px;
    outline: none;
    background-color: lightsteelblue;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
    font-size: 16px;
  }
}

h1 {
  color: darkblue;
  text-align: center;
}